*{
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
body{
  background-image: url('./pexels-felix-mittermeier-957010.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  height: 100vh;
}
